body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:10px;
  width:1160px;
  height:75px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:75px;
}
#u1 {
  position:absolute;
  left:2px;
  top:30px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:85px;
  width:75px;
  height:58px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:58px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:144px;
  width:75px;
  height:58px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:203px;
  width:75px;
  height:58px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:58px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:262px;
  width:75px;
  height:58px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:58px;
}
#u9 {
  position:absolute;
  left:2px;
  top:21px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:321px;
  width:75px;
  height:58px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:58px;
}
#u11 {
  position:absolute;
  left:2px;
  top:21px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:39px;
  top:380px;
  width:75px;
  height:189px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:189px;
}
#u13 {
  position:absolute;
  left:2px;
  top:86px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:120px;
  width:1050px;
  height:368px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:368px;
}
#u15 {
  position:absolute;
  left:2px;
  top:176px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:39px;
  top:554px;
  width:75px;
  height:166px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:166px;
}
#u17 {
  position:absolute;
  left:2px;
  top:75px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:39px;
  top:720px;
  width:75px;
  height:250px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:250px;
}
#u19 {
  position:absolute;
  left:2px;
  top:117px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:140px;
  top:520px;
  width:1050px;
  height:220px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:220px;
}
#u21 {
  position:absolute;
  left:2px;
  top:102px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:140px;
  top:750px;
  width:1050px;
  height:220px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:220px;
}
#u23 {
  position:absolute;
  left:2px;
  top:102px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1110px;
  top:39px;
  width:80px;
  height:27px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1030px;
  top:39px;
  width:80px;
  height:27px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
